:root {
  --bg-dark: #313238;
  --accent-orange: #cd8032;
  --text-light: #ffffff;
  --font-main: 'Inter', sans-serif;
}

.searchBar {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.input {
  flex: 1;
  padding: 0.6rem 0.75rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 8px;
  outline-offset: 2px;
  background-color: var(--bg-dark);
  color: #fff !important;
  font-family: 'Inter', sans-serif;

}

.input::placeholder {
  color: #fff !important;
  opacity: 1;
  font-weight: 500;
}

.searchButton {
  flex: 1;
  max-width: 60px;
  background-color: var(--accent-orange);
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease;
}

.searchButton svg {
  pointer-events: none;
}

.container {
  padding: 1rem;
  font-family: system-ui, sans-serif;
}

.noDances {
  text-align: center;
  color: var(--bg-dark);
  font-weight: 600;
  font-size: 30px;
  margin-top: 2rem;
}

.danceList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.filterWindow {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: var(--bg-dark);
  border: 1px solid #444;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}